// Body
$body-bg: #f8fafc;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes:true;

// Colors
$primary:#0400ff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


.bi-tools{
    color: #0400ff;
    align-content: center;

}
.bi-code-slash{
    color: #0400ff;
   
}
.fa-instagram{
    color: #c32aa3;
    text-decoration-color: $primary;
    &:hover, &:active, &:focus{
        color:#c32aa3 ;
    }
}
.fa-facebook{
    color:  #1877f2;
    text-decoration-color: $primary;
    
    &:hover, &:active, &:focus{
        color: #0400ff;
    }
}
.fa-phone{
    color: $primary;
}
.fa-envelope-o{
    color: $primary;
}
.permisos{
    color: red;
}